@charset "utf-8";
@font-face {
    font-family:'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgba(68, 243, 199, 0.479);
    margin: auto;
}

header {
    margin-top:-23px;
    margin-left: auto;
    margin-bottom: 0px;
    margin-right: auto;
    padding: 0px 20px;
    background-image: linear-gradient(360deg, rgba(1, 27, 1, 0.884), rgba(19, 116, 19, 0.767), rgba(10, 190, 10, 0.582));
    box-shadow : -1px 2px 18px -2px black;
}

.h1header {
    text-align: center;
    color: rgba(255, 255, 255, 0.808);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    padding: 10px;
    
}

.pheader {
    text-align: center;
    width: 400px;
    margin: auto;
    color: rgba(255, 255, 255, 0.808);
    padding: 10px;
}

.navheader > p {
    display: inline-block;
    color: rgba(255, 255, 255, 0.808);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.navheader >p:hover  {
    background-color: rgba(240, 255, 255, 0.116);
}

.pheader1 {
    margin: 1px;
    padding: 5px;
}

.pheader2 {
    margin: 1px;
    padding: 5px;
}

.pheader3 {
    margin: 1px;
    padding: 5px;
}

.pheader4 {
    margin: 1px;
    padding: 5px;
}


main {
    max-width: 950px;
    min-width: 320px;
    margin: auto;
    background-color: white;
    padding: 1px;
    border-radius: 0px 0px 15px 15px;
    box-shadow:  -1px 2px 18px -2px black;
}
.section1 {
    padding: 10px;
}



.h1section1 {
    font-family:'idroid', monospace ;
    color:rgb(12, 63, 12) ;
    font-size: 30px;
    font-weight: normal;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.psection1 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    text-align: justify;
    margin: 10px;
}

b {
    color: rgb(10, 141, 10) ;
}

.section2 {
    padding: 10px;
}

.h2section2 {
    background-image:linear-gradient(10deg, rgba(51, 175, 51, 0.527), rgba(71, 185, 71, 0.425), rgba(255, 255, 255, 0));
    font-family:'idroid', monospace ;
    color:rgb(12, 63, 12) ;
    font-weight: lighter;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.psection2 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    text-align: justify;
    margin: 10px;
}

a{
    padding: 3px;
    color: rgb(12, 63, 12) ;
    background-color: rgba(21, 201, 21, 0.301);
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

.div1 {
    margin-left: 50px;
}

.pdiv1 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    text-align: justify;
    margin: 10px;
}

.section3 {
    padding: 10px;
}

.h2section3 {
    background-image:linear-gradient(10deg, rgba(51, 175, 51, 0.527), rgba(71, 185, 71, 0.425), rgba(255, 255, 255, 0));
    font-family:'idroid', monospace ;
    color:rgb(12, 63, 12) ;
    font-weight: lighter;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}


.psection3 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    text-align: justify;
    margin: 10px;
}

.imgsection3 {
    margin-left: 15px;
}

.p2section3 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    text-align: justify;
    margin: 10px;
}

.p3section3 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    text-align: justify;
    margin: 10px;
}

.img2section3 {
    margin-left: 315px;
}

.div2 {
 background-image: linear-gradient(360deg, rgba(1, 27, 1, 0.884), rgba(19, 116, 19, 0.767), rgba(10, 190, 10, 0.582));
padding-left: 200px;
padding-top: 20px;
padding-bottom: 20px;
}

.div3 {
    background-color: white;
    margin: 10px 20px;
}

.pdiv3 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    text-align: justify;
    margin: 10px;
}

.div4 {
    background-color:rgba(68, 243, 199, 0.295);
    border-radius: 15px;
    box-shadow:  -1px 1px 10px -2px black;
}

.h3div4 {
    background-color: rgba(6, 138, 6, 0.692);
    color: rgb(255, 243, 243);
    font-weight: bold;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
    
}

.p1div4 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    text-align: justify;
    margin: 10px;
}


ul {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    text-align: justify;
    margin: 10px;
    columns: 2;
    list-style: '\2714\00A0\00A0';
    
}

:hover {
    transition-duration: 0.5s;
    border-radius: 5px;
}

.p2div4 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    text-align: justify;
    margin: 18px 10px;
    padding-bottom: 10px;
}

.aside1div4 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    text-align: justify;
    margin: 18px 10px;
    padding-bottom: 30px;
}

.pdiv3 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    text-align: justify;
    margin: 10px;
    padding-bottom: 15px;
}

.pfooter {
    color: rgba(255, 255, 255, 0.767);
    margin: 5px;
}

.bfooter {
    color: white;
}

footer {
    background-color: rgba(3, 53, 3, 0.884);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 1px;
    box-shadow:  -1px 2px 18px -2px black;
}

.img1 {
    width: 100%;
}