@charset "utf-8";

/*--media para impressora--*/

* {
    margin: 10px;
    padding: 10px;
}

menu {
    display: none;
}


body {
    font-family: 'Courier New', Courier, monospace;
}

article {
    width: 100%;
}

article > h2 {
    font-family: 1.5em;
}

article > p {
    font-family: 1.5em;
}

article::after {
    content: 'Site impresso por Thiago';
}

