@charset "UTF-8";

body {
    background-color:chocolate;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
h1 {
    background-color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
h2{
    background-color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    background-color: bisque;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
}